@import "../Vars.scss";

.primary-button {
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  .button {
    text-decoration: none;
    background-color: $main-yellow;
    font-size: 2.25rem;
    color: $main-black;
    font-family: $oswald;
    margin: 0;
    padding: 0 3.375rem 0.25rem 3.375rem;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    outline: none;
  }
  .button:active {
    outline: none;
  }
}

//MOBILE
@media only screen and (max-width: 539px) {
  .button {
    border-radius: 0.5rem !important;
    font-size: 1.25rem !important;
    padding: 0 1.375rem 0.25rem 1.375rem !important;
  }
}
